/*
    Created on : Aug 31, 2018, 9:14:29 PM
    Author     : MiguelPS
*/

.root{
    -fx-background-color: white;
}

.button_close{
    -fx-border-color: white;
    -fx-background-color: white;
    -fx-graphic: url("close_n.png");
}

.button_close:hover{
    -fx-graphic: url("close_h.png"); 
}

.button_minimize{
    -fx-border-color: white;
    -fx-background-color: white;
    -fx-graphic: url("close_n.png");
}
.button_minimize:hover{
    -fx-graphic: url("close_h.png");
}

